<div class="hello">
  <% @hello_worlds.each do |hw|  %>
    <div class="animated fadeInUp <%= 'delay-%ss' % hw.priority unless hw.priority == 1 %>">
      <%= content_tag :h3, c(hw) %>
      <%= content_tag :p, hw.hello %>
    </div>
  <% end  %>
  <%= link_to "Try it!", hello_worlds_path, class: "primary animated fadeIn delay-15s" %>
</div>

<script>
  $(function() {
    setTimeout(function(){
      // scroll.Down(23000);
    }, 500);
  });
</script>
