body {
  font-family: 'Playfair Display', serif;
  padding-top: 54px;
}

h1, h2, h3 {
  letter-spacing: .1em;
  text-shadow: 0 2px 0 rgba(black, .1);
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.none {
  display: none;
}

.no-underline:hover {
  text-decoration: none;
}

table{
  border-collapse:collapse;
  margin:0 auto;
}
th{
  color:#005ab3;
}
tr {
  color: white;
  letter-spacing: .1em;
  text-shadow: 0 2px 0 rgba(black, .1);
}
td{
  border-bottom:1px dashed #999;
}
th,tr:last-child td{
  border-bottom:2px solid #005ab3;
}
td,th{
  padding:10px;
}

.custom-file-input:lang(ja) ~ .custom-file-label::after {
  content: "参照";
}

.custom-file {
  overflow: hidden;
}
.custom-file-label {
  white-space: nowrap;
}

.no-border {
  border: 0;
  box-shadow: none;
}

.field-with-errors input {
  border: 1px solid red;
}
