<h3 class="site-heading text-center text-secondary d-none d-lg-block animated zoomInDown">
 <span class="site-heading-upper text-info mb-3">Rails 5 Sample Application</span>
 <span class="site-heading-lower">Hello World</span>
</h3>

<section class="page-section about-heading animated fadeInUp delay-1s">
 <div class="container">
   <%= image_tag(asset_pack_path("img/about.jpg"), class: "img-fluid rounded about-heading-img mb-3 mb-lg-0") %>
   <div class="about-heading-content">
     <div class="row">
       <div class="col-xl-9 col-lg-10 mx-auto">
         <div class="bg-faded rounded p-3">
           <h2 class="section-heading mb-4">
             <span class="section-heading-upper">May the Rails be with you</span>
             <span class="section-heading-lower">About This App</span>
           </h2>
           <p>This application is a template for ROR beginners. With this template you can develop the latest modern WEB applications.</p>
           <p>The techniques used in this template are these. <em>Ruby on Rails, Rspec, PostgreSQL, Docker, docker-compose, Webpacker, jQuery, HTML5, CSS3, Bootstrap4</em>.</p>
           <p class="mb-0">This template can also be used as a learning program. Please refer to the detailed explanation <a href="#">here (Japanese)</a>.</p>
         </div>
       </div>
     </div>
   </div>
 </div>
</section>
